<form #form="ngForm" class="inline-grid grid-cols-2 items-center justify-items-stretch gap-4">
  <span>User-defined data</span>
  <input designed type="text" [(ngModel)]="data" name="data" />

  <span>Backdrop click closes dialog</span>
  <input designed type="checkbox" [(ngModel)]="config.backdropClose" name="bdclose" />

  <span>Naivgating with router closes dialog</span>
  <input designed type="checkbox" [(ngModel)]="config.navigationClose" name="navclose" />

  <span>Use template instead of component</span>
  <input designed type="checkbox" #useTemplate />

  <button type="submit" class="place-self-start" designed (click)="dialog(useTemplate.checked)">Dialog</button>
  <button
    type="submit"
    class="place-self-start"
    designed
    (click)="dialog(useTemplate.checked); dialog(useTemplate.checked); dialog(useTemplate.checked)">
    Dialog x3
  </button>
</form>

<ng-template #tpl let-data="data" let-close="close">
  <div class="grid grid-cols-2 items-center justify-stretch gap-4">
    <span class="col-span-2">This is a template dialog</span>

    <span class="justify-self-start">Data :</span>
    <span>{{ data.data }}</span>

    <button designed (click)="router.navigateByUrl(routes.notifications('/'))">Navigate away</button>
    <button designed (click)="close()">Close</button>
  </div>
</ng-template>
