<div class="grid place-items-stretch gap-4 grid-cols-3">
  <button designed (click)="dialog()">Open component dialog</button>
  <button designed (click)="dialog(dialogTemplate)">Open template dialog</button>
  <button designed (click)="dialog(undefined, { backdropClose: false })">Prevent backdrop click</button>
  <button designed (click)="dialog(); dialog(); dialog()">Open 3 dialogs</button>
</div>

<ng-template #notificationTemplate let-close>
  <span>Custom notification template</span>
  <button designed (click)="close()">close</button>
</ng-template>
<ng-template #dialogTemplate let-data="data" let-close="close">
  <pre><code>{{ data | json }}</code></pre>
  <button designed (click)="close()" class="mt-4 w-full">close</button>
</ng-template>
