<div class="flex flex-row items-center justify-start gap-4">
  <form #form="ngForm" class="inline-grid grid-cols-2 items-center justify-items-stretch gap-4">
    <span>User-defined data</span>
    <input designed type="text" [(ngModel)]="config.data" name="data" />

    <span>Capture pointer events</span>
    <input designed type="checkbox" [(ngModel)]="config.capturePointer" name="capturePointer" />

    <span>Use template</span>
    <input designed type="checkbox" #useTemplate />

    <span>Use auto positioning</span>
    <input designed type="checkbox" [(ngModel)]="useAuto" name="auto" />

    @if (!useAuto) {
      <span>Anchor corner Y</span>
      <select designed [(ngModel)]="position.AY" name="AY">
        <option value="top">Top</option>
        <option value="middle">Middle</option>
        <option value="bottom">Bottom</option>
      </select>
      <span>Anchor corner X</span>
      <select designed [(ngModel)]="position.AX" name="AX">
        <option value="left">Left</option>
        <option value="center">Center</option>
        <option value="right">Right</option>
      </select>

      <span>Target corner Y</span>
      <select designed [(ngModel)]="position.TY" name="TY">
        <option value="top">Top</option>
        <option value="middle">Middle</option>
        <option value="bottom">Bottom</option>
      </select>

      <span>Target corner X</span>
      <select designed [(ngModel)]="position.TX" name="TX">
        <option value="left">Left</option>
        <option value="center">Center</option>
        <option value="right">Right</option>
      </select>
    }

    <button type="submit" class="place-self-start" designed (click)="anchor(useTemplate.checked)">Anchor</button>
  </form>

  <div class="flex-fill grid place-items-center">
    <div class="border-2 border-primary-500 p-4 font-bold" #target>Anchor target</div>
  </div>
</div>

<ng-template #tpl let-close="close" let-data="data">
  <div class="bg-white p-4 shadow shadow-black/50 rounded">
    <div>This is a custom template</div>
    <div>Data : {{ data }}</div>
    <button (click)="close()">❌</button>
  </div>
</ng-template>
