@use '../projects/snippets/src/lib/overlays/overlays';

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  height: 100%;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  @apply select-none outline-none transition-all duration-300 ease-in-out leading-[1] origin-center;
}

button[designed] {
  @apply border-2 border-primary-500 text-primary-500 font-semibold;
  @apply px-4 py-2 rounded-lg;
}
